form .password-hints {
  margin-top: 10px;
  color: #6c757d; 
}

form .form-group {
  margin-bottom: 15px;
}

body{
  background-color: #f2f2f2;
}

h1 {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link{
  display: inline-block;     /* Faz o link se comportar como um elemento em linha */
  padding: 10px 20px;        /* Adiciona espaço interno para dar a aparência de um botão */
  background-color: #4CAF50; /* Define a cor de fundo do botão */
  color: white;              /* Define a cor do texto do botão */
  text-align: center;        /* Centraliza o texto */
  text-decoration: none;     /* Remove a sublinha dos links */
  border-radius: 5px;        /* Adiciona bordas arredondadas ao botão */
  border: none;              /* Remove qualquer borda padrão */
  cursor: pointer;           /* Mostra o cursor de mão para indicar que é clicável */
  font-size: 16px;           /* Define o tamanho da fonte */
  font-family: Arial, sans-serif; /* Define a fonte */
}
.btn-link:hover {
  background-color: #45a049; 
}

