{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_user.css' %}">
<form method="POST">
    {% csrf_token %}

    <div class="login-container">
        <h3>Alterar Informações do Usuário</h3>
    <div class="form-group">
        <label for="username">Nome de Usuário:</label>
        {{ user_form.username }}
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        {{ user_form.email }}
    </div>

    <h3>Alterar Senha</h3>

    <div class="form-group">
        <label for="old_password">Senha antiga:</label>
        {{ password_form.old_password }}
    </div>

    <div class="form-group">
        <label for="new_password1">Nova senha:</label>
        {{ password_form.new_password1 }}
    </div>

    <div class="form-group">
        <label for="new_password2">Confirmação da nova senha:</label>
        {{ password_form.new_password2 }}
    </div>

    <!-- Exibe as mensagens de erro ou observações abaixo do campo de confirmação de senha -->
    <div class="form-group password-hints">
        {% for error in password_form.new_password2.errors %}
            <p class="text-muted">{{ error }}</p>
        {% endfor %}
        <ul class="text-muted">
            <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
            <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
            <li>Sua senha não pode ser uma senha comumente utilizada.</li>
            <li>Sua senha não pode ser inteiramente numérica.</li>
        </ul>
    </div>
<div class="section-btn">
    <button type="submit" class="btn-link">Salvar Alterações</button>
    
    <a href="{% url 'home' %}" class="btn-link"> voltar</a>
    <a href="{% url 'logout' %}"class="btn-link">Sair</a>
    
</div>
</div>

</form>


{% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

