{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <h1>{{ welcome_message }}</h1>

    <p>
        <a href="{% url 'edit_user' %}" class="btn btn-info">Editar Informações do Usuário</a>
    </p>

    <h2>Lista de Usuários Cadastrados:</h2>
    <ul class="user-list">
        {% for user in all_users %}
            <li class="user-item">
                <span class="user-info">{{ user.username }} - {{ user.email }}</span>
                <a href="{% url 'delete_user' user.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar este usuário?');">Deletar</a>
            </li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'logout' %}" class="btn-link">Sair</a>
    </p>
</body>

</html>
