{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="register-container" id="register">
        <h2>{{ register_title }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="form-senha">Senha</label>
                <input type="password" id="senha" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirme a Senha</label>
                <input type="password" id="confirmarSenha" name="confirm_password" required>
            </div>
            <div class="checkbox">
                <label for="is_superuser">É Superusuário?</label>
                <input type="checkbox" id="is_superuser" name="is_superuser">
            </div>
            <button type="submit" id="register-btn">{{ register_button_text }}</button>
            <a href="{% url 'login' %}"class="btn-link">Voltar para o login</a>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</body>

</html>
