body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100vh;           /* Define a altura do body para a altura total da viewport */
}

.container {
  width: 80%;
  max-width: 800px;
  text-align: center;      /* Centraliza o texto */
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-item {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

.btn-info {
  background-color: #51bbc9;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-warning {
  background-color: #ffc107;
}

a.btn {
  margin-left: 10px;
}

a.btn:hover {
  opacity: 0.8;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.btn-link:hover {
  background-color: #45a049;
}
