body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  padding: 200px 50px; 
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  margin-top: 10px;
  color: #333;
  font-size: 35px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#btn-login {
  margin-bottom: 15px !important;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

a.cadastro{
  display: inline-block;
  padding: 10px 40px 10px 40px;
  background-color:#397c9b;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 30px;    
  border: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, sans-serif;
  
}